﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "AdminPrikazKorisnikaView";
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>
            <a href="~/Home/PrikazKorisnika">Prikaz korisnika</a>
            <a href="~/Home/PrikazKarti">Prikaz karti</a>

        </div>
        <div style="float:right;">
            <a style="pointer-events:none;">Ulogovan kao admin : @ulogovan.KorisnickoIme.</a>
            <a href="~/Home/Izloguj">Izloguj se</a>
            <a href="~/Home/IzmeniProfil">Izmeni profil</a>
        </div>
    </div>
    <div>
        <br />
        <div>
            <form action="~/Home/FilterKorisnika">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            Ime :
                        </td>
                        <td>
                            <input type="text" name="Ime" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prezime :
                        </td>
                        <td>
                            <input type="text" name="Prezime" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Korisnicko ime :
                        </td>
                        <td>
                            <input type="text" name="KorisnickoIme" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Uloga :
                        </td>
                        <td>
                            <select name="Uloga">
                                <option selected value="-1">
                                    Not selected
                                </option>
                                <option value="0">
                                    Administrator
                                </option>
                                <option value="1">
                                    Prodavac
                                </option>
                                <option value="2">
                                    Kupac
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tip korisnika :
                        </td>
                        <td>
                            <select name="TipKorisnika">
                                <option selected value="-1">
                                    Not selected
                                </option>
                                <option value="0">
                                    Zlatni
                                </option>
                                <option value="1">
                                    Srebrni
                                </option>
                                <option value="2">
                                    Bronzani
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Filtriraj" />
                        </td>
                    </tr>
                </table>

            </form>
            <form action="~/Home/PrikazKorisnika">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            <input type="submit" value="Resetuj filter" />
                        </td>
                    </tr>
                </table>
            </form>

            <form action="~/Home/SortirajKorisnike">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            Sortiraj po :
                        </td>
                        <td>
                            <select name="TipSortiranja">
                                <option value="0">
                                    Imenu
                                </option>
                                <option value="1">
                                    Prezimenu
                                </option>
                                <option value="2">
                                    Korisnickom imenu
                                </option>
                                <option value="3">
                                    Broju poena
                                </option>
                            </select>
                        </td>
                        <td>
                            <select name="Rast">
                                <option value="0">
                                    Rastuce
                                </option>
                                <option value="1">
                                    Opadajuce
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Sortiraj" />
                        </td>

                    </tr>

                   
                </table>
            </form>
        </div>
        <br />
        <p style="text-align:center; font-size:35px;"><b>Lista korisnika</b></p>
        <table class="tableUnos" border="1">
            <tr>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Korisnicko ime</p>
                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Ime</p>

                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Prezime</p>
                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Pol</p>

                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Uloga</p>

                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Broj bodova</p>

                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Tip korisnika</p>
                </th>
                <th style="width:50px;">
                    <p style="text-align:center; font-size:16px;">Datum rodjenja</p>
                </th>

                <th style="width:50px;">
                    <p style="text-align:center;font-size:16px;"> </p>

                </th>
            </tr>
            @foreach (var item in (List<Korisnik>)Session["Korisnici"])
            {
                <tr>
                    <td style="width:50px;">
                        @item.KorisnickoIme
                    </td>
                    <td style="width:50px;">
                        @item.Ime
                    </td>
                    <td style="width:50px;">
                        @item.Prezime
                    </td>
                    <td style="width:50px;">
                        @if (item.Pol == Pol.MUSKI)
                        {
                            <p>Muski</p>
                        }
                        else
                        {
                            <p>Zenski</p>
                        }
                    </td>
                    <td style="width:50px;">
                        @if (item.Uloga == Uloga.Administrator)
                        {
                            <p>Administrator</p>
                        }
                        else if (item.Uloga == Uloga.Kupac)
                        {
                            <p>Kupac</p>
                        }
                        else if (item.Uloga == Uloga.Prodavac)
                        {
                            <p>Prodavac</p>
                        }
                    </td>
                    <td style="width:50px;">
                        @item.BrojBodova
                    </td>
                    <td style="width:50px;">
                        @if (item.TipKorisnika == TipKorisnika.Bronzani)
                        {
                            <p>Bronzani</p>
                        }
                        else if (item.TipKorisnika == TipKorisnika.Srebrni)
                        {
                            <p>Srebrni</p>
                        }
                        else if (item.TipKorisnika == TipKorisnika.Zlatni)
                        {
                            <p>Zlatni</p>
                        }
                    </td>
                    <td style="width:50px;">
                        @item.DatumRodjenja
                    </td>

                    <td style="width:50px;">
                        <form action="/Home/ObrisiKorisnika" method="post">
                            <input type="hidden" value="@item.KorisnickoIme" name="KorisnickoIme" />
                            <input type="submit" value="Obrisi" border:none" class="w3-text-black w3-hover-blue" />
                        </form>
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />

        <a class="button" href="~/Home/RegistrujKorisnika">Dodaj prodavca</a>

    </div>
</body>