﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "IzmeniKorisnikaView";
    object poruka = TempData["Alert"];
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
    <title>Welcome! </title>

</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>
            @if (ulogovan.Uloga == Uloga.Administrator)
            {
                <a href="~/Home/PrikazKorisnika">Prikaz korisnika</a>
                <a href="~/Home/PrikazKarti">Prikaz karti</a>
            }
            else if (ulogovan.Uloga == Uloga.Prodavac)
            {
                <a href="~/Home/ViewDodajManifestaciju">Dodaj manifestaciju</a>
            }
            else if (ulogovan.Uloga == Uloga.Kupac)
            {
                <a href="~/Home/PrikazKarti">Prikaz karti</a>
            }

        </div>
        <div style="float:right;">
            @if (ulogovan.Uloga == Uloga.Administrator)
            {
                <a style="pointer-events:none;">Ulogovan kao admin : @ulogovan.KorisnickoIme.</a>
            }
            else if (ulogovan.Uloga == Uloga.Prodavac)
            {
                <a style="pointer-events:none;">Ulogovan kao prodavac : @ulogovan.KorisnickoIme.</a>
            }
            else if (ulogovan.Uloga == Uloga.Kupac)
            {
                <a style="pointer-events:none;">Ulogovan kao kupac : @ulogovan.KorisnickoIme.</a>
            }
            <a href="~/Home/Izloguj">Izloguj se</a>
            <a href="~/Home/IzmeniProfil">Izmeni profil</a>
        </div>
    </div>
    <div>
        <form action="~/Home/IzmeniPodatke" method="post">
            <table border="1" class="tableUnos">
                <tr>
                    <td>
                        Korisnicko ime :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.KorisnickoIme" name="KorisnickoIme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Lozinka :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.Lozinka" name="Lozinka" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Ime :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.Ime" name="Ime" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Prezime :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.Prezime" name="Prezime" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Pol :
                    </td>
                    <td>

                        <select name="Pol">
                            @if (ulogovan.Pol == Pol.MUSKI)
                            {
                                <option selected value="Muski">
                                    Muski
                                </option>
                                <option value="Zenski">
                                    Zenski
                                </option>
                            }
                            else
                            {
                                <option value="Muski">
                                    Muski
                                </option>
                                <option selected value="Zenski">
                                    Zenski
                                </option>
                            }

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Godina rodjenja :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.DatumRodjenja.Split('/')[0]"  name="GodinaRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mesec rodjenja :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.DatumRodjenja.Split('/')[1]" placeholder="(1-12)" name="MesecRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Dan rodjenja :
                    </td>
                    <td>
                        <input type="text" value="@ulogovan.DatumRodjenja.Split('/')[2]" placeholder="(1-31)" name="DanRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td style="color:red;" colspan="2">
                        @poruka
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Registruj se" />
                    </td>
                </tr>

            </table>
        </form>
    </div>

</body>

