﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "KupacKarteView";
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];

}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>
            <a href="~/Home/PrikazKarti">Prikaz karti</a>
        </div>
        <div style="float:right;">
            <a style="pointer-events:none;">Ulogovan kao kupac : @ulogovan.KorisnickoIme.</a>
            <a href="~/Home/Izloguj">Izloguj se</a>
            <a href="~/Home/IzmeniProfil">Izmeni profil</a>
        </div>
    </div>
    <div>
        <div>
            <form action="~/Home/FilterKarte">
                <table class="tableUnos" border="1">
                    <tr>
                        <td colspan="2">
                            Naziv :
                        </td>
                        <td colspan="2">
                            <input type="text" name="Naziv" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena od :
                        </td>
                        <td>
                            <input type="text" value="-1" name="CenaOd" />
                        </td>
                        <td>
                            do :
                        </td>
                        <td>
                            <input type="text" value="-1" name="CenaDo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Datum od :
                        </td>
                        <td>
                            <input type="text" placeholder="Godina" name="GodinaOd" />
                            <input type="text" placeholder="Mesec(1-12)" name="MesecOd" />
                            <input type="text" placeholder="Dan(1-31)" name="DanOd" />
                        </td>
                        <td>
                            do :
                        </td>
                        <td>
                            <input type="text" placeholder="Godina" name="GodinaDo" />
                            <input type="text" placeholder="Mesec(1-12)" name="MesecDo" />
                            <input type="text" placeholder="Dan(1-31)" name="DanDo" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Tip manifestacije :
                        </td>
                        <td colspan="2">
                            <select name="TipKarte">
                                <option selected value="-1">
                                    Not selected
                                </option>
                                <option value="0">
                                    VIP
                                </option>
                                <option value="1">
                                    REGULAR
                                </option>
                                <option value="2">
                                    FAN PIT
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="Filtriraj" />
                        </td>
                    </tr>
                </table>

            </form>
            <form action="~/Home/PrikazKarti">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            <input type="submit" value="Resetuj filter" />
                        </td>
                    </tr>
                </table>
            </form>

            <form action="~/Home/SortirajKarte">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            Sortiraj po :
                        </td>
                        <td>
                            <select name="TipSortiranja">
                                <option value="0">
                                    Naziv manifestacije
                                </option>
                                <option value="1">
                                    Datum i vreme održavanja
                                </option>
                                <option value="2">
                                    Cena
                                </option>
                            </select>
                        </td>
                        <td>
                            <select name="Rast">
                                <option value="0">
                                    Rastuce
                                </option>
                                <option value="1">
                                    Opadajuce
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    <br />

    <p style="text-align:center; font-size:35px;"><b>Lista manifestacija</b></p>
    <table class="tableUnos" border="1">
        <tr>
            <th style="width:100px;">
                <p style="text-align:center; font-size:16px;">Naziv manifestacije</p>
            </th>
            <th style="width:100px;">
                <p style="text-align:center; font-size:16px;">Datum i vreme</p>
            </th>
            <th style="width:100px;">
                <p style="text-align:center; font-size:16px;">Cena</p>
            </th>
            <th style="width:300px;">
                <p style="text-align:center; font-size:16px;">Tip</p>
            </th>
        </tr>
        @foreach (var item in (List<Karta>)Session["Karte"])
        {
            <tr>

                <td style="width:50px;">
                    @item.NazivManifestacije
                </td>
                <td style="width:50px;">
                    @item.Datum.ToString()
                </td>
                <td style="width:50px;">
                    @item.Cena
                </td>
                <td style="width:50px;">
                    @if (item.TipKarte == TipKarte.FANPIT)
                    {
                        <p>
                            FAN PIT
                        </p>
                    }
                    else if (item.TipKarte == TipKarte.REGULAR)
                    {
                        <p>
                            REGULAR
                        </p>
                    }
                    else if (item.TipKarte == TipKarte.VIP)
                    {
                        <p>
                            VIP
                        </p>
                    }
                </td>
            </tr>
        }
    </table>

    </div>


</body>