﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "PrikaziManifestacijuView";
    object poruka = TempData["Alert"];
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];
    Manifestacija manifestacija = (Manifestacija)Session["Manifestacija"];
    List<Komentar> aktivniKomentari = (List<Komentar>)Session["AktivniKomentari"];
    List<Komentar> neaktivniKomentari = (List<Komentar>)Session["NeaktivniKomentari"];

}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
    <title>Welcome! </title>

</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
        
            @if (ulogovan == null)
            {
                <a href="~/Home/Index">Home</a>
            }
            else if (ulogovan.Uloga == Uloga.Administrator)
            {
                <a href="~/Home/PrikazKorisnika">Prikaz korisnika</a>
                <a href="~/Home/PrikazKarti">Prikaz karti</a>
            }
            else if (ulogovan.Uloga == Uloga.Prodavac)
            {
                <a href="~/Home/ViewDodajManifestaciju">Dodaj manifestaciju</a>
            }
            else if (ulogovan.Uloga == Uloga.Kupac)
            {
                <a href="~/Home/PrikazKarti">Prikaz karti</a>
            }
        </div>
        <div style="float:right;">
            @if (ulogovan == null)
            {
                <a style="pointer-events:none;">Niko nije ulogovan.</a>
            }
            else if (ulogovan.Uloga == Uloga.Administrator)
            {
                <a style="pointer-events:none;">Ulogovan kao admin : @ulogovan.KorisnickoIme.</a>
            }
            else if (ulogovan.Uloga == Uloga.Prodavac)
            {
                <a style="pointer-events:none;">Ulogovan kao prodavac : @ulogovan.KorisnickoIme.</a>
            }
            else if (ulogovan.Uloga == Uloga.Kupac)
            {
                <a style="pointer-events:none;">Ulogovan kao kupac : @ulogovan.KorisnickoIme.</a>
            }
            @if (ulogovan != null)
            {
                <a href="~/Home/Izloguj">Izloguj se</a>
                <a href="~/Home/IzmeniProfil">Izmeni profil</a>
            }
            else
            {
                <a href="~/Home/UlogujSe">Uloguj se</a>
                <a href="~/Home/RegistrujKorisnika">Registruj se</a>

            }
        </div>
    </div>
    <div>
        <table class="tableUnos">
            <tr>

                <td colspan="2">
                    <img height="250" width="250" src="@manifestacija.PosterSlika" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Naziv </b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Naziv
                </td>
            </tr>
            <tr>
                <td>
                    <b>Tip manifestacije</b>
                </td>
            </tr>
            <tr>
                <td>
                    @if (manifestacija.TipManifestacije == TipManifestacije.Festival)
                    {
                        <p>Festival</p>
                    }
                    else if (manifestacija.TipManifestacije == TipManifestacije.Koncert)
                    {
                        <p>Koncert</p>
                    }
                    else if (manifestacija.TipManifestacije == TipManifestacije.Pozoriste)
                    {
                        <p>Pozoriste</p>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <b>Geografska sirina</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Lokacija.GeografskaSirina
                </td>
            </tr>
            <tr>
                <td>
                    <b> Geografska duzina</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Lokacija.GeografskaDuzina
                </td>
            </tr>
            <tr>
                <td>
                    <b> Grad</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Lokacija.Grad
                </td>
            </tr>
            <tr>
                <td>
                    <b> Ulica i broj</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Lokacija.Ulica @manifestacija.Lokacija.BrojUlice
                </td>
            </tr>
            <tr>
                <td>
                    <b>Postanski broj</b>
            </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Lokacija.PostanskiBroj
                </td>
            </tr>
            <tr>
                <td>
                    <b> Datum i vreme odrzavanja</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.Datum.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    <b> Cena</b>
                </td>
            </tr>
            <tr>
                <td>
                    @manifestacija.CenaKarte
                </td>
            </tr>
        <tr>
            <td>
                <b>Aktivni komentari</b>
                <table border="1" class="tableUnos">
                    <tr>
                        <th>
                            Kupac :
                        </th>
                        <th>
                            Tekst :
                        </th>
                        <th>
                            Ocena :
                        </th>
                    </tr>
                    @foreach (var item in aktivniKomentari)
                    {
                        <tr>
                            <td>
                                @item.KorisnickoIme
                            </td>
                            <td>
                                @item.Tekst
                            </td>
                            <td>
                                @item.Ocena
                            </td>
                        </tr>

                        if (ulogovan != null && ulogovan.Uloga == Uloga.Prodavac)
                        {
                            <tr>
                                <td colspan="3">
                                    <form action="~/Home/DeaktivirajKomentar" method="post">
                                        <input type="text" name="Id" value="@item.Id" hidden />
                                        <input type="submit" value="Deaktiviraj" />
                                    </form>
                                </td>
                            </tr>
                        }
                    }


                </table>
                @if (ulogovan != null && ulogovan.Uloga == Uloga.Prodavac)
                {
                <p><b>Neaktivni komentari</b></p>
            <table border="1" class="tableUnos">
                <tr>
                    <th>
                        Kupac :
                    </th>
                    <th>
                        Tekst :
                    </th>
                    <th>
                        Ocena :
                    </th>
                </tr>
                @foreach (var item in neaktivniKomentari)
                {
                    <tr>
                        <td>
                            @item.KorisnickoIme
                        </td>
                        <td>
                            @item.Tekst
                        </td>
                        <td>
                            @item.Ocena
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <form action="~/Home/AktivirajKomentar" method="post">
                                <input type="text" name="Id" value="@item.Id" hidden />
                                <input type="submit" value="Aktiviraj" />
                            </form>
                        </td>
                    </tr>

                }


            </table>

        }
            </td>
        </tr>
        @if (ulogovan!=null && ulogovan.Uloga == Uloga.Kupac)
        {
         <tr>
             <td>
                 <form action="~/Home/DodajKomentar" method="post">
                     <table class="tableUnos">
                         <tr>
                             <td>
                                 Tekst  :
                             </td>
                             <td>
                                 <input type="text" name="Tekst" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 Ocena  :
                             </td>
                             <td>
                                 <select name="Ocena">
                                     <option value="1">
                                         1
                                     </option>
                                     <option value="2">
                                         2
                                     </option>
                                     <option value="3">
                                         3
                                     </option>
                                     <option value="4">
                                         4
                                     </option>
                                     <option value="5" selected>
                                         5
                                     </option>
                                 </select>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="2">
                                 <input type="submit" value="Dodaj komentar" />
                             </td>
                         </tr>
                     </table>
                 </form>
             </td>
         </tr>
        }
        </table>
    </div>

</body>

