﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "ProdavacDManifestacijuView";
    object poruka = TempData["Alert"];
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>
            <a href="~/Home/ViewDodajManifestaciju">Dodaj manifestaciju</a>
        </div>
        <div style="float:right;">
            <a style="pointer-events:none;">Ulogovan kao prodavac : @ulogovan.KorisnickoIme.</a>
            <a href="~/Home/Izloguj">Izloguj se</a>
            <a href="~/Home/IzmeniProfil">Izmeni profil</a>
        </div>
    </div>

    <div>
        <form method="post" action="~/Home/DodajManifestaciju">
            <table border="1" class="tableUnos">
                <tr>
                    <td>
                        Naziv :
                    </td>
                    <td>
                        <input type="text" name="Naziv" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Pol :
                    </td>
                    <td>
                        <select name="TipManifestacije">
                            <option selected value="0">
                                Koncert
                            </option>
                            <option value="1">
                                Festival
                            </option>
                            <option value="2">
                                Pozoriste
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Broj mesta :
                    </td>
                    <td>
                        <input type="text" name="BrojMesta" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Geografska sirina :
                    </td>
                    <td>
                        <input type="text" name="GeografskaSirina" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Geografska duzina :
                    </td>
                    <td>
                        <input type="text" name="GeografskaDuzina" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Postanski broj :
                    </td>
                    <td>
                        <input type="text" name="PostanskiBroj" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Grad :
                    </td>
                    <td>
                        <input type="text" name="Grad" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Ulica :
                    </td>
                    <td>
                        <input type="text" name="Ulica" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Broj ulice :
                    </td>
                    <td>
                        <input type="text" name="BrojUlice" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Godina manifestacije :
                    </td>
                    <td>
                        <input type="text" name="GodinaManifestacije" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mesec manifestacije :
                    </td>
                    <td>
                        <input type="text" placeholder="(1-12)" name="MesecManifestacije" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Dan manifestacije :
                    </td>
                    <td>
                        <input type="text" placeholder="(1-31)" name="DanManifestacije" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Sat manifestacije :
                    </td>
                    <td>
                        <input type="text" placeholder="(0-23)" name="SatManifestacije" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Minut manifestacije :
                    </td>
                    <td>
                        <input type="text" placeholder="(0-59)" name="MinutManifestacije" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Cena :
                    </td>
                    <td>
                        <input type="text" name="Cena" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Slika :
                    </td>
                    <td>
                         <input type="file" name="Slika" />
                    </td>
                </tr>
                <tr>
                    <td style="color:red;" colspan="2">
                        @poruka
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="text" hidden value="1" name="IzmeniIliDodaj" />
                        <input type="submit" value="Dodaj manifestaciju" />
                    </td>
                </tr>
            </table>

        </form>


    </div>

</body>