﻿@using WebProjectIvana.Models

@{
    ViewBag.Title = "ProdavacHomepageView";
    Korisnik ulogovan = (Korisnik)Session["Ulogovan"];

}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>
            <a href="~/Home/ViewDodajManifestaciju">Dodaj manifestaciju</a>
        </div>
        <div style="float:right;">
            <a style="pointer-events:none;">Ulogovan kao prodavac : @ulogovan.KorisnickoIme.</a>
            <a href="~/Home/Izloguj">Izloguj se</a>
            <a href="~/Home/IzmeniProfil">Izmeni profil</a>
        </div>
    </div>
    <div>
        <br />

        <div>
            <form action="~/Home/FilterManifestacija">
                <table class="tableUnos" border="1">
                    <tr>
                        <td colspan="2">
                            Naziv :
                        </td>
                        <td colspan="2">
                            <input type="text" name="Naziv" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Grad :
                        </td>
                        <td colspan="2">
                            <input type="text" name="Grad" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Ulica :
                        </td>
                        <td colspan="2">
                            <input type="text" name="Ulica" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena od :
                        </td>
                        <td>
                            <input type="text" value="-1" name="CenaOd" />
                        </td>
                        <td>
                            do :
                        </td>
                        <td>
                            <input type="text" value="-1" name="CenaDo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Datum od :
                        </td>
                        <td>
                            <input type="text" placeholder="Godina" name="GodinaOd" />
                            <input type="text" placeholder="Mesec(1-12)" name="MesecOd" />
                            <input type="text" placeholder="Dan(1-31)" name="DanOd" />
                        </td>
                        <td>
                            do :
                        </td>
                        <td>
                            <input type="text" placeholder="Godina" name="GodinaDo" />
                            <input type="text" placeholder="Mesec(1-12)" name="MesecDo" />
                            <input type="text" placeholder="Dan(1-31)" name="DanDo" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Tip manifestacije :
                        </td>
                        <td colspan="2">
                            <select name="TipManifestacije">
                                <option selected value="-1">
                                    Not selected
                                </option>
                                <option value="0">
                                    Koncert
                                </option>
                                <option value="1">
                                    Festival
                                </option>
                                <option value="2">
                                    Pozoriste
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="Filtriraj" />
                        </td>
                    </tr>
                </table>

            </form>
            <form action="~/Home/Index">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            <input type="submit" value="Resetuj filter" />
                        </td>
                    </tr>
                </table>
            </form>

            <form action="~/Home/SortirajManifestacije">
                <table class="tableUnos" border="1">
                    <tr>
                        <td>
                            Sortiraj po :
                        </td>
                        <td>
                            <select name="TipSortiranja">
                                <option value="0">
                                    Naziv
                                </option>
                                <option value="1">
                                    Datum i vreme održavanja
                                </option>
                                <option value="2">
                                    Cena
                                </option>
                                <option value="3">
                                    Grad
                                </option>
                            </select>
                        </td>
                        <td>
                            <select name="Rast">
                                <option value="0">
                                    Rastuce
                                </option>
                                <option value="1">
                                    Opadajuce
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Sortiraj" />
                        </td>

                    </tr>


                </table>
            </form>
        </div>
        <br />



        <p style="text-align:center; font-size:35px;"><b>Lista manifestacija</b></p>
        <table class="tableUnos" border="1">
            <tr>
                <th style="width:100px;">
                    <p style="text-align:center; font-size:16px;">Slika</p>
                </th>
                <th style="width:100px;">
                    <p style="text-align:center; font-size:16px;">Naziv</p>

                </th>
                <th style="width:100px;">
                    <p style="text-align:center; font-size:16px;">Tip manifestacije</p>
                </th>
                <th style="width:300px;">
                    <p style="text-align:center; font-size:16px;">Lokacija</p>

                </th>
                <th style="width:300px;">
                    <p style="text-align:center; font-size:16px;">Datum i vreme</p>

                </th>
                <th style="width:100px;">
                    <p style="text-align:center; font-size:16px;">Cena karte</p>
                </th>
                <th style="width:100px;">
                    <p style="text-align:center; font-size:16px;">Status</p>
                </th>
                <th>
                    <p></p>
                </th>
                <th>
                    <p></p>
                </th>
            </tr>
            @foreach (var item in (List<Manifestacija>)Session["Manifestacije"])
            {
                <tr>
                    <td style="width:50px;">
                        <img width="150" height="150" src="@item.PosterSlika" />
                    </td>
                    <td style="width:50px;">
                        @item.Naziv
                    </td>
                    <td style="width:50px;">
                        @if (item.TipManifestacije == TipManifestacije.Festival)
                        {
                            <p>Festival</p>
                        }
                        else if (item.TipManifestacije == TipManifestacije.Koncert)
                        {
                            <p>Koncert</p>
                        }
                        else if (item.TipManifestacije == TipManifestacije.Pozoriste)
                        {
                            <p>Pozoriste</p>
                        }
                    </td>
                    <td style="width:50px;">
                        <table class="tableUnos">
                            <tr>
                                <td>
                                    Grad : @item.Lokacija.Grad
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ulica i broj : @item.Lokacija.Ulica @item.Lokacija.BrojUlice
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:50px;">
                        @item.Datum.ToString();
                    </td>
                    <td style="width:50px;">
                        @item.CenaKarte
                    </td>
                    <td style="width:50px;">
                        @if (item.Status == Status.Aktivan)
                        {
                            <p>
                                Aktivan
                            </p>
                        }
                        else
                        {
                            <p>
                                Neaktivan
                            </p>
                        }
                    </td>
                    <td>
                        <form action="/Home/PrikaziManifestaciju" method="post">
                            <input type="hidden" value="@item.Id" name="Id" />
                            <input type="submit" value="Prikazi" border:none" class="w3-text-black w3-hover-blue" />
                        </form>
                    </td>
                    <td>
                        <form action="/Home/IzmeniManifestacijuView" method="post">
                            <input type="hidden" value="@item.Id" name="Id" />
                            <input type="submit" value="Izmeni" border:none" class="w3-text-black w3-hover-blue" />
                        </form>
                    </td>
                </tr>
            }
        </table>

    </div>
</body>