﻿
@{
    ViewBag.Title = "RegistrujKorisnikaView";
    object poruka = TempData["Alert"];
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
    <title>Welcome! </title>

</head>

<body id="pozadina">
    @* ZA NELOGOVANE *@

    <div class="topnav">
        <div>
            <a href="~/Home/Index">Home</a>

        </div>
        <div style="float:right;">
            <a style="pointer-events:none;">Niko nije ulogovan.</a>
            <a href="~/Home/UlogujSe">Uloguj se</a>
            <a href="~/Home/RegistrujKorisnika">Registruj se</a>
        </div>
    </div>
    <div>
        <form action="~/Home/Registracija" method="post">
            <table border="1" class="tableUnos">
                <tr>
                    <td>
                        Korisnicko ime :
                    </td>
                    <td>
                        <input type="text" name="KorisnickoIme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Lozinka :
                    </td>
                    <td>
                        <input type="text" name="Lozinka" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Ime :
                    </td>
                    <td>
                        <input type="text" name="Ime" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Prezime :
                    </td>
                    <td>
                        <input type="text" name="Prezime" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Pol :
                    </td>
                    <td>
                        <select name="Pol">
                            <option selected value="Muski">
                                Muski
                            </option>
                            <option value="Zenski">
                                Zenski
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Godina rodjenja :
                    </td>
                    <td>
                        <input type="text" name="GodinaRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mesec rodjenja :
                    </td>
                    <td>
                        <input type="text" placeholder="(1-12)" name="MesecRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Dan rodjenja :
                    </td>
                    <td>
                        <input type="text" placeholder="(1-31)" name="DanRodjenja" />
                    </td>
                </tr>
                <tr>
                    <td style="color:red;" colspan="2">
                        @poruka
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Registruj se" />
                    </td>
                </tr>

            </table>
        </form>
    </div>

</body>

