﻿
* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 15px;
    text-align: left;
    font-size: 15px;
    color: white;
}

nav {
    float: left;
    width: 10%;
    background: #ccc;
    padding: 20px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #f1f1f1;
}


section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}




.topnav {
    background-color: #333;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

.tableUnos {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}


.button {
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    color: #333;
    background-color: #FA2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0
}